/* ############### fonts ############### */

@font-face {
    font-family: 'WorkSans-Regular';
    src: url(../font/WorkSans-Regular.ttf);
}

@font-face {
    font-family: 'WorkSans-Bold';
    src: url(../font/WorkSans-Bold.ttf);
}


/* ############### var ############### */

:root {
    --font-Regular: 'WorkSans-Regular';
    --font-bold: 'WorkSans-bold';
    --main-color: #edb469;
    --secondary-color: #654b94;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.3s;
}


/* ############### rules ############### */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-Regular);
}

.container {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}


/* ############### Components ############### */

.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    letter-spacing: -3px;
    margin: 0;
    font-family: var(--font-bold);
    text-transform: capitalize;
}

.special-heading+p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading+p {
        margin-top: -20px;
    }
}


/* ############### small ############### */

@media(min-width:768px) {
    .container {
        width: 750px;
    }
}


/* ############### medium ############### */

@media(min-width:992px) {
    .container {
        width: 970x;
    }
}


/* ############### larg ############### */

@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}


/* start header */

.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 30px;
}

.header .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    cursor: pointer;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    background-color: var(--section-background);
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

.header .links ul::before {
    position: absolute;
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--section-background) transparent;
    right: 5px;
    top: -20px;
}

.header .links:hover ul {
    display: block;
}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: var(--main-duration);
    text-transform: capitalize;
}

.header .links ul li a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) {
    border-bottom: 1px solid #DDD;
}


/* start landing */

.landing {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
    text-align: center;
}

.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-family: var(--font-bold);
    font-size: 50px;
    text-transform: uppercase;
}

.landing .intro-text p {
    font-size: 20px;
    color: #ddddddab;
    line-height: 1.6;
}


/* start features */

.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: var(--main-color);
}

.features .feat h3 {
    text-transform: capitalize;
    font-family: var(--font-bold);
}

.features .feat p {
    color: #777;
    line-height: 1.6;
    font-size: 17px;
}


/* start services */

.services {
    padding-top: 20px;
    padding-bottom: 20px;
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .srv .text {
    flex: 1;
}

.services .services-content .srv h3 {
    text-transform: capitalize;
    margin: 5px 0 20px;
}

.services .services-content .srv p {
    color: #777;
    line-height: 1.6;
}

.services .services-content .image {
    text-align: center;
    position: relative;
}

.services .services-content .image::before {
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}

.services .services-content .image img {
    width: 250px;
}

@media (max-width: 1199px) {
    .image-column,
    .services .services-content .image::before {
        display: none;
    }
}


/* start top-activities */

.top-activities {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.top-activities .activities-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}

.top-activities .activities-content .card {
    background-color: white;
}

.top-activities .activities-content .card img {
    max-width: 100%;
}

.top-activities .activities-content .card .info {
    padding: 20px;
}

.top-activities .activities-content .card .info h3 {
    margin: 0;
    text-transform: capitalize;
}

.top-activities .activities-content .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: justify;
}


/* start about */

.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .image {
    position: relative;
    width: 300px;
    height: 600px;
}

@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}

.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: 100%;
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .about-content .image::after {
    top: -40px;
    content: "";
    position: absolute;
    width: 80px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -100px;
}

@media (max-width: 991px) {
    .about .about-content .image::after,
    .about .about-content .image::before {
        display: none;
    }
}

.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .text {
    flex-basis: 650px
}

.about .about-content .text p {
    color: #777;
    line-height: 1.6;
    text-align: justify;
    font-size: 17px;
}

.about .about-content .text p:first-of-type {
    font-family: var(--font-bold);
    margin-bottom: 50px;
    color: #333;
}

.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border: none;
    height: 2px;
    background-color: var(--main-color);
}


/*start contact*/

.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--secondary-color);
}

.contact .contact-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}

.contact .contact-content .m-auto {
    margin: auto;
}

.contact .contact-content .image {
    position: relative;
    text-align: center;
}

.contact .contact-content .image img {
    max-width: 90%;
}

@media (max-width: 991px) {
    .contact .contact-content .image img {
        max-width: 40%;
    }
}

.contact .contact-content h3 {
    font-family: var(--font-bold);
    color: white;
    text-transform: capitalize;
    font-size: 25px;
}

.contact .contact-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact .contact-content ul li a {
    text-decoration: none;
    display: block;
    padding: 10px 0;
    color: #ffffffa3;
    font-size: 18px;
    transition: var(--main-duration);
}

.contact .contact-content ul li .links {
    display: flex;
}

.contact .contact-content ul li .links .icon {
    margin-right: 10px;
}

.contact .contact-content ul li a:hover {
    color: var(--main-color);
    padding-left: 10px;
}


/*start footer*/

footer {
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

footer span {
    font-family: var(--font-bold);
    color: var(--main-color);
}
